#player {
    width: 300px;
    height: 300px;
    border-radius: 24px;
    border: 2px solid #434C5E;
    background: url("./assets/noise.svg"), lightgray 0% 0% / 154.22531366348267px 154.22531366348267px repeat, radial-gradient(185.29% 156.13% at -4.81% 0%, rgba(52, 58, 72, 0.20) 0%, rgba(233, 236, 243, 0.01) 51.19%, rgba(67, 76, 94, 0.20) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* *,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 60px 20px;
}

@media (min-width: 600px) {
    body {
        padding: 60px;
    }
} */




.range-slider {
    margin: 60px 0 0 0;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 2px;
    background: #D3D9E5;
    outline: none;
    padding: 0;
    border: 1px solid black;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background: #E9ECF3;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}



.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: left;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 8px;
}



::-moz-range-track {
    background: #0689d5;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}


#player figure img {
    width: 100%;
    border-radius: 12px;
}

#player figure {
    width: 100%;
    margin: 0;
    padding: 12px;
}

.info {
    width: 100%;
    margin: 0;
    padding: 0 12px;
}

.info h1 {
    width: 100%;
    color: #D3D9E5;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 8px 0 !important;
}

.info p {
    color: rgba(211, 217, 229, 0.50);
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.128px;
    margin: 8px 0 !important;

}

.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.controls .playback {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    padding: 12px;
}

.controls .playback img {
    width: 24px;
    height: 24px;
}

.range-slider {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin: 0;
}