#weather * {
    margin: 0 !important;
    color: #FFF;
}

#weather h1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 0.256px;

}

#weather h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.192px;
    line-height: 150%;

}